SECURITY_SERVER=

DOMAIN=
DOMAIN_CERTIFICATE_PATH=
DOMAIN_PRIVATEKEY_PATH=

CMDBUILD_PORT=

GITLAB_PORT=
GITLAB_SSH_PORT=

OVPN_PORT=
OVPN_CLIENT_NAME=
OVPN_CLIENT_PASS=
OVPN_PKI_CERTIFICATE_PASS=
OVPN_READY_CONFIG=

PGADMIN_PORT=
PGADMIN_EMAIL=
PGADMIN_PASSWORD=

VCENTER_PORT=